1. Print a line in python

In [1]:
print("Hello World!")

Hello World!

2. Variable declaration
--> You don't need to declare any data type

In [2]:
a = 1
b = 2
print(a+b)

3

--> Same goes for String and double/float values

In [3]:
a = 'Hello'
b = 'World'
c = 34.50
d = 4.20
print(a+b)
print(c+d)

HelloWorld
38.7

3. User Input
--> By convension every input is considered a String in python

In [4]:
a = input()

45

In [5]:
a

'45'

In [6]:
b = input("Enter a value : ")

Enter a value : 25

In [7]:
print(a+b)

4525

--> As the value of a and b both are considered string it concatenates them in stead of adding them together

4. Changing data type

In [8]:
print(type(a))

<class 'str'>

In [9]:
a = int(a)
print(type(a))

<class 'int'>

5. Concatenate a String and a differnet type value

In [10]:
print(b + str(a))

2545

In [11]:
print(a + int(b))

70

6. Finding length of a String

In [12]:
str_1 = 'Hello World'
print(len(str_1))

11

7. Making Upper case and Lower case

In [13]:
print(str_1.upper())
print(str_1.lower())

HELLO WORLD
hello world

8. Escape characters

In [14]:
print('Python Tutorial For Beginner :\n --> New Line\t --> one tab space')

Python Tutorial For Beginner :
 --> New Line	 --> one tab space

9. Use of List
--> List can contain any value

In [15]:
list_1 = [45, 'hello world', 12.50]
print(list_1)

[45, 'hello world', 12.5]

10. Accessing a value in a list
--> List start from index 0

In [16]:
list_2 = [1,2,3,4]
print(list_2[0])
print(list_2[1])
print(list_2[2])
print(list_2[3])

1
2
3
4

--> List can also accessed from the last index using -1

In [17]:
print(list_2[-1])
print(list_2[-2])
print(list_2[-3])
print(list_2[-4])

4
3
2
1

11. Accessing a portion of a list

In [18]:
print(list_2[1:2])

[2]

In [19]:
print(list_2[1:3])

[2, 3]

--> list_2[m : n] means it starts from index m and goes until (n-1)

12. Using Sort, Reverse, Len in a List

In [21]:
list_3 = [4, 6, 7, 3, 2, 1]
list_3.sort()
print(list_3)
list_3.reverse()
print(list_3)
print(len(list_3))

[1, 2, 3, 4, 6, 7]
[7, 6, 4, 3, 2, 1]
6

13. Adding a new item in a list

In [22]:
list_3.append(9)
print(list_3)

[7, 6, 4, 3, 2, 1, 9]

--> A list can even contain multiple list

In [24]:
list_4 = [[1,2], [2,3], [3,4],[4,5]]
print(len(list_4))
print(list_4[2])

4
[3, 4]

14. Tuples value

In [25]:
tuple_1 = (45, 65)
print(tuple_1)
print(tuple_1[0])

(45, 65)
45

15. If Else condition

In [26]:
val = 15
if val == 15:
    print('The value is 15')
else:
    print('The value is not 15')

The value is 15

In [27]:
val_1 = 'Abc'
if val_1 == 'abc':
    print(val_1.upper())
elif val_1 == 'Abc':
    print(val_1.lower())
else:
    print(val_1)

abc

16. Writing comment

In [29]:
'''This is one type of comment'''
age = input('Enter your age: ')

#This is another type of comment

age = int(age) # convert string to integer

if age >= 18:
    print('You are an adult')
else:
    print('You are not an adult')

Enter your age: 19
You are an adult

17. Using different Loops

In [30]:
i = 0

#while loop
while i < 10:
    print('The value of i is ', i)
    i = i + 1

The value of i is  0
The value of i is  1
The value of i is  2
The value of i is  3
The value of i is  4
The value of i is  5
The value of i is  6
The value of i is  7
The value of i is  8
The value of i is  9

In [32]:
#for loop
for i in range(10):
    print('The value of i is '+str(i))

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [33]:
arr = [1,2,3,4,5,6,7,8,9]
for value in range(len(arr)):#Here value is a variable name which starts from 0
    print(arr[value])

1
2
3
4
5
6
7
8
9

In [34]:
str_arr = ['Banana', 'Apple', 'Orange', 'Mango']
for fruit in str_arr:
    print('The fruit is '+fruit)

The fruit is Banana
The fruit is Apple
The fruit is Orange
The fruit is Mango

--> We can import some function which are already available

In [38]:
from time import time
print(time)

<built-in function time>

In [42]:
import datetime
curr_dt = datetime.datetime.now()
print ("Date and time : ",curr_dt.strftime("%Y-%m-%d %H:%M:%S"))

Date and time :  2019-06-25 14:26:09

18. Using a Dictionary

In [44]:
dict_1 = {'Animal' : 'Cow', 'Bird' : 'Parrot', 'Number' : 20}
print(dict_1)
print(dict_1['Animal'])
print(dict_1['Bird'])
print(dict_1['Number'])

{'Animal': 'Cow', 'Bird': 'Parrot', 'Number': 20}
Cow
Parrot
20

In [46]:
for key, value in dict_1.items():
    print("\nKey: " + key)
    print("Value: " + str(value))

Key: Animal
Value: Cow

Key: Bird
Value: Parrot

Key: Number
Value: 20